@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-sans;
  }
}

body {
  font-family: 'JetBrains Mono', system-ui, sans-serif;
  color: #1a1a1a;
  background-color: #fff;
  background-image: url('/assets/icons/dashbaord-background.svg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  background-size: contain;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

.progressTasksColor::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}
